@import url('https://fonts.googleapis.com/css?family=Orbitron')

body
  font-family: sans-serif
  margin: 0
  padding: 0
  background-size: 100%
  background-image: -moz-linear-gradient(0deg, #0f0f0f 0%, #0f0f0f 99px, #000000 100px)
  background-image: -webkit-linear-gradient(0deg, #0f0f0f 0%, #0f0f0f 99px, #000000 100px)
  background-image: linear-gradient(90deg, #002223 0%, #002223 94px, #001b1c 95px)
  background-size: 100px 100px

.timeline
  text-align: center
  height: 100vh
  position: relative


  .timelineTitle
    top: 18vh
    left: 49.5vw
    transform: translate(-50%, -50%)
    font-size: 6rem
    color: #ffffff
    font-weight: normal
    text-transform: uppercase
    font-family: 'Orbitron', sans-serif
    position: absolute


/* Timeline - Years */
.timeline-events
  white-space: nowrap

.timelines-years
  position: absolute
  top: 90vh
  margin: 0
  list-style: none
  font-size: 0
  padding-bottom: 5.5vh
  white-space: nowrap

  li
    position: relative
    display: inline-block
    width: 10rem
    color: #868686
    font-size: 1rem
    line-height: 1rem


/* Timeline - Events */
.timeline-events
  position: absolute
  top: 45vh
  left: 5rem
  padding: 0
  list-style: none
  font-size: 0
  white-space: nowrap

  li
    &:hover
      cursor: pointer

    div
      position: absolute
      left: 50%
      transform: translate(-50%, -50%)

      &:hover h2, &:hover h3, &:hover h4
        font-size: 1rem

    .lower
      top: 13vh

  h2, h3, h4
    margin: 0
    font-weight: normal
    font-size: 0.75rem

  h2
    color: #777
    text-transform: uppercase


  h4
    color: #fff
    font-style: italic


  li
    position: absolute


    &:before
      position: absolute
      left: 0
      top: 35vh
      height: 3vh
      border-radius: 2vh
      opacity: 0.8
      content: ""

  .timeline-event-years-2
    left: 40rem

  .timeline-event-years-3
    left: 75rem

  .timeline-event-years-4
    left: 90rem

  .timeline-event-years-6
    left: 35rem

  .timeline-event-years-7
    left: 70rem

  .timeline-event-years-8
    left: 75rem

  .level2
    top: -3vh

  .level3
    top: -6vh

  .level4
    top: -9vh

/* Timeline - Events - Colours */
/* Grey/Green */
.timeline-events li:nth-child(1):before
  background: #c2e34e


.timeline-events li:nth-child(1) h3
  color: #c2e34e


/* Orange */
.timeline-events li:nth-child(2):before
  background: #ff9704


.timeline-events li:nth-child(2) h3
  color: #ff9704


/* Blue */
.timeline-events li:nth-child(3):before
  background: #56c2f3


.timeline-events li:nth-child(3) h3
  color: #56c2f3


/* Red */
.timeline-events li:nth-child(4):before
  background: #dd3d01


.timeline-events li:nth-child(4) h3
  color: #dd3d01


/* Aqua/Grey */
.timeline-events li:nth-child(5):before
  background: #4a8b8f


.timeline-events li:nth-child(5) h3
  color: #4a8b8f

/* Redish Pink */
.timeline-events li:nth-child(6):before
  background: #a3004c


.timeline-events li:nth-child(6) h3
  color: #a3004c

/* Blue */
.timeline-events li:nth-child(7):before
  background: #00397f


.timeline-events li:nth-child(7) h3
  color: #00397f

/* Blue */
.timeline-events li:nth-child(8):before
  background: #ffffff


.timeline-events li:nth-child(8) h3
  color: #ffffff


/* Timeline - Events - Grid */
.timeline-event-years-1,
.timeline-event-years-1:before
  width: 40rem

.timeline-event-years-2,
.timeline-event-years-2:before
  width: 35rem


.timeline-event-years-3,
.timeline-event-years-3:before
  width: 25rem


.timeline-event-years-4,
.timeline-event-years-4:before
  width: 10rem


.timeline-event-years-5,
.timeline-event-years-5:before
  width: 100rem


.timeline-event-years-6,
.timeline-event-years-6:before
  width: 5rem

.timeline-event-years-7,
.timeline-event-years-7:before
  width: 5rem

.timeline-event-years-8,
.timeline-event-years-8:before
  width: 25rem


//description
.description
  position: absolute
  left: 25%
  width: 100%

// //footer
footer
  position: absolute
  width: 96.85%
  top: 30rem